
/* structure */
#wrap {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-template-rows: 25% 70%;

}

#panel1 {    
    grid-row: 1/3;

    border: solid black 1px;
    height: 600px;
}
#panel2 {    
    border: solid black 1px;
    height: 399px;
}
#panel3 {    
    border: solid black 1px;
    grid-column: 2;
    height: 199px;
}

#start{
    background:grey;
    width: 175px;
    height: 25px;
}

#finish{
    background: blue;
    width: 175px;
    height: 25px;
}

#autoShipHide{
    display: none;
    height: 40px;
    width: 80px;

}

#autoShip:hover + #autoShopHide {
    display: block;
    color: red;
}
/* Upgrades */
#upgrade1 {
    display: none;
}

#upgrade2 {
    display: none;
}

#upgrade3 {
    display: none;
}

#upgrade4 {
    display: none;
}

#upgrade5 {
    display: none;
}

#upgrade6 {
    display: none;
}

#upgrade7 {
    display: none;
}

#upgrade8 {
    display: none;
}

#upgrade9 {
    display: none;
}

#upgrade10 {
    display: none;
}